input {
    border: 2px solid black;
    border-radius: 5px;
    background-color:rgb(244,244,244);
    transition: 0.5s all ease-in-out;
}
input:hover {
    background-color: rgb(200,200,200);
}
input:focus {
    background-color: rgb(180, 180, 180);
}
::-webkit-scrollbar {
    height: 0px;
}
::-webkit-scrollbar-track {
    background-color: grey;
}
::-webkit-scrollbar-thumb {
    background-color: cadetblue;
}
td {
    padding: 10px;
}